<div class="title-bar">
  {{#if place.website}}
    <a title="Internetseite/Mittagskarte in neuem Tab öffnen" target="_blank" href="{{unbound place.website}}">
      {{unbound place.name}}
    </a>
  {{else}}
    <span>{{unbound place.name}}</span>
  {{/if}}
  {{#if place.isNew}}
    <i title="Neu in der Liste" class="fa fa-star subtle-text"></i>
  {{/if}}
  {{#if place.hasChangingLunchSpecials}}
    <i title="wöchentlich wechselnde Mittagskarte" class="fa fa-refresh subtle-text"></i>
  {{/if}}
  <span class="add" {{action "selectPlace"}} title="Trag mich ein">
    <i class="fa fa-plus"></i>
  </span>
</div>
<ul class="list-inline left-space">
  {{#each timeSlot in place.time_slots}}
    <li class="time-slot">{{unbound timeSlot.time}}<br /> {{unbound timeSlot.users}}</li>
  {{/each}}
</ul>
